a:link {
  font-family: 'Helvetica', arial, sans-serif;
  font-size: 20pt;
    color: white;
    text-shadow: 2px 2px #4286f4;
}
a:visited {
  font-family: 'Helvetica', arial, sans-serif;
    color: white;
    text-shadow: 2px 2px #4286f4;
}
a:hover {
    color: #4286f4;
      text-shadow: none;
}

a.two:link {
  font-family: 'Helvetica', arial, sans-serif;
  font-size: 20pt;
    color: black;
        text-shadow: none;
}
a.two:visited {
  font-family: 'Helvetica', arial, sans-serif;
    color: #253671;
     text-shadow: none;
}

body {
  background-color: #ffffff;
  text-align: center;
  font-family: 'Helvetica', arial, sans-serif;
}

#title {
  background-color: #253671;
color: white;
font-size: 25pt;
text-align: center;
vertical-align: middle;
height: 50px;
font-family: 'Helvetica', arial, sans-serif;

}
#bodyText{
   padding-right: 150px;
    padding-left: 150px;
  font-family: 'Helvetica', arial, sans-serif;
  background-color: #ffffff;
  color: black;
  text-align: justify;

}

#project_sketch {
  background: white;
  height: 550px;
  width: 800px;
  margin: auto auto;
}

#container {
      font-family: 'Helvetica', arial, sans-serif;
    position: relative;
    text-align: center;
    color: white;
}

.bottom-left {
    font-family: 'Helvetica', arial, sans-serif;
  color: white;
    position: relative;
    bottom: 40px;
    left: 16px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


#column {
    float: left;
    width: 60%;
}

#row:after {
    content: "";
    display: table;
    clear: both;
    width: 30%;
}
